<div class="list card padding">

  <div class="item item-avatar">
    <!--<img src="avatar.jpg">-->
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>
  <img src="{{brandDetail}}">
  <!--<div class="item item-image">-->
  <!--<img src="cover.jpg">-->
  <!--</div>-->

  <!--<a class="item item-icon-left assertive" href="#">-->
  <!--<i class="icon ion-music-note"></i>-->
  <!--Start listening-->
  <!--</a>-->

</div>
<div class="list card padding">

  <div class="item item-avatar">
    <!--<img src="avatar.jpg">-->
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>
  <img src="{{brandDetail}}">
  <!--<div class="item item-image">-->
  <!--<img src="cover.jpg">-->
  <!--</div>-->

  <!--<a class="item item-icon-left assertive" href="#">-->
  <!--<i class="icon ion-music-note"></i>-->
  <!--Start listening-->
  <!--</a>-->

</div>
<div class="row">
  <div class="col">.
    <div class="list card padding">

      <div class="item item-avatar">
        <!--<img src="avatar.jpg">-->
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div>
      <img src="{{brandDetail}}">
      <!--<div class="item item-image">-->
      <!--<img src="cover.jpg">-->
      <!--</div>-->

      <!--<a class="item item-icon-left assertive" href="#">-->
      <!--<i class="icon ion-music-note"></i>-->
      <!--Start listening-->
      <!--</a>-->

    </div>
  </div>
  <div class="col">
    <div class="item item-avatar">

    <img src="{{brandDetail}}">
    <!--<div class="item item-image">-->
    <!--<img src="cover.jpg">-->
    <!--</div>-->

    <!--<a class="item item-icon-left assertive" href="#">-->
    <!--<i class="icon ion-music-note"></i>-->
    <!--Start listening-->
    <!--</a>-->

  </div>
</div>
<div class="list card padding">

  <div class="item item-avatar">
    <!--<img src="avatar.jpg">-->
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>
  <img src="{{brandDetail}}">
  <!--<div class="item item-image">-->
  <!--<img src="cover.jpg">-->
  <!--</div>-->

  <!--<a class="item item-icon-left assertive" href="#">-->
  <!--<i class="icon ion-music-note"></i>-->
  <!--Start listening-->
  <!--</a>-->

</div>


