<ion-modal-view>

  <ion-header-bar class="bar general-nav-bar">
    <h1 class="title" style="color:white">Photos</h1>
    <button style="color:white" class="button button-icon icon ion-android-close" ng-click="closeModal.hide()"></button>
    <!--<button style="color:white" class="button button-icon icon" ng-click="closeModal.hide()">Next</button>-->

  </ion-header-bar>

  <ion-content class="padding" scroll="true">
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img src="{{picture}}">
          </div>
          <div class="col">

          </div>
        </div>
       </div>
    </div>
  </ion-content>
</ion-modal-view>
