<ion-modal-view>

  <ion-header-bar class="bar general-nav-bar">
    <h1 class="title" style="color:white">Send</h1>
    <button style="color:white" class="button button-icon icon ion-android-close pull-left" ng-click="closeModal()"></button>
    <!--<button style="color:white" class="button button-icon icon" ng-click="closeModal.hide()">Next</button>-->

  </ion-header-bar>

  <ion-content class="padding" scroll="true">
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img src="{{picture}}">
          </div>
          <div class="col">

          </div>
        </div>
        <div class="row">
          <div class="list">

            <label class="item item-input item-select">
              <div class="input-label">
                Lightsaber
              </div>
              <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
              </select>
            </label>

          </div>

        </div>
       </div>
    </div>
  </ion-content>
</ion-modal-view>
