<ion-view view-title="Login" >
  <ion-nav-title>
    <!--<span style="color:white;">Login</span>-->
    <img style="width:9%;margin-top:2px;"  src="img/logot-login.png">

  </ion-nav-title>
  <ion-content class="padding" style="background-color:#1A7C6F">

    <div class="panel-body" style="background: url('');">
      <div style="width:100%">
        <img style="margin-left:40px;width:10%;padding:10px" class="img img-responsive" src="img/logot-login.png">
      </div>

      <form method="post" ng-submit="login()" name="loginForm" class="ng-pristine ng-invalid ng-invalid-required">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="email" ng-model="logindetails.email">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="password" type="password" ng-model="logindetails.password">
          </label>
        </div>
        <button type="submit" ng-disabled="loginForm.$invalid" style="background-color:#72B4A9;color:white;font-weight: 600;" class="button button-block button-positive" disabled="disabled" ng-click="loginClick()">
          Log in
        </button>


        <br>
        <p class="text-center text-muted">
          <small>Don't have an account yet? <button class="button button-block button-positive" ng-click="signUp()">Sign up</button></small>
        </p>
        <!--<div class="signup-or-separator">-->
          <!--<h6 class="text">or</h6>-->
          <!--<hr>-->
        <!--</div>-->

      </form>
      <!--<button class="btn btn-block btn-facebook" >-->
        <!--<i class="ion-social-facebook"></i> Sign in with Facebook-->
      <!--</button>-->
    </div>
    <pre>{{ data | json }}</pre>
    <!-- Accent-colored raised button with ripple -->
  </ion-content>
</ion-view>
